*{
			box-sizing: border-box;
		}
		body{
			background-image: url(rail4.jpg);
			background-repeat:repeat;
			background-size: cover;
			margin-left: 10%;
			margin-right: 10%;
			
		}
		.hd {
    color: DeepPink;
    font-weight: bold;
			font-size:50px;
			padding:10px;
			margin-left: 5%;
			margin-right: 5%;
			text-align: center;
    text-shadow: 0 1px 0 #000000, 0 2px 0 #FFA500,
             0 3px 0 #000000, 0 5px 0 #FFFFFF,
             0 10px 0 #000000, 0 6px 0 #000000,
             0 8px 0 #000000, 0 8px 7px #000000 ,
             0 9px 20px #000000;
             
           
}
		.main{
			border:1px black solid;
			background-color:#DD81AB ;
			border-radius: 1000px;
			text-align: center;
			margin-left:33%;
			margin-right: 33.3%;
			padding:10px;
			margin-bottom: 10px;
			color:red;
			width:600px;
		}
		.menu{
			border:1px black solid;
			border-radius: 1000px;
			background-color: white;
			color:green;
			font-weight: bold;
			font-size:18px;
			text-align: center;
			margin-right:15px;
			padding:5px;
			padding-left: 10px;
			padding-right: 10px;
			width:130px;
		}
		.button {
  background-color: green;
  border: none;
  border-radius: 1000px;
  color: white;
  padding: 8px 14px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {opacity: 10}
		a:hover{
		color:#FE0505  ;	}
	a:link{
		color: green;
		text-decoration: none;
	}
	.tab{
		border:1px black solid;
		border-radius: 100px;
		background-color:#E6E319 ;
		margin-left: 30%;
		width:680px;
		color:black;
		font-weight: bold;
		font-style:normal;
		text-align:center;
		font-size: 20px;
		margin-bottom:10px;
		padding:10px;
		margin-top:10px;
	}
	.yel{
	color:yellow;
	}
	.red{
		color: black;	}
	.green{
		color:green;
	}
	.brown{
		color:brown;
	}
	.home{
		border:1px black solid;
		border-radius: 100px;
		background-color : #2CF1DB ;
		margin-left: -10%;
		width:200px;
		color:blue;
		font-weight: bold;
		font-style:italic;
		text-align:center;
		font-size: 25px;
		margin-bottom:10px;
		padding:10px;
		float:left;
		clear:both;
	
	}

  
	table{
		border:2px solid black;
		text-align: center;
		padding:5px;
		cellspacing:2px;
		width:680px;
	}
	tr:hover {
		background-color: #f5f5f5;
		color:black;
	}
	td{
		padding:10px;
		border:1px solid black;
	}
	th{
		color:green;
		font-size:20px;
	}
	footer{
		margin-top: 25%;
	}